
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Open Sans", sans-serif;
    background-color: rgba(245, 222, 179, 0.404);
    color: #3b2f2f;
    line-height: 1.6;
}


header {
    width: 100%;
    background-color: rgb(94, 4, 4);
    padding: 20px 0;
    text-align: center;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    font-family: "Cedarville Cursive", cursive;
    font-size: 2.5em;
}

header h1::before {
    content: "☕ ";
}

.navbar ul {
    display: flex;
    justify-content: center;
    background-color: rgb(222, 184, 135);
    list-style: none;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    transition: background 0.3s ease;
}

.navbar a:hover {
    background-color: hsl(340, 57%, 20%);
    border-radius: 5px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px;
}


article {
    flex: 2;
    min-width: 300px;
    background-color: #ffffffa8;
    padding: 20px;
    border-radius: 10px;
}

article section {
    margin-bottom: 25px;
}

article h2 {
    color: rgb(94, 4, 4);
    margin-bottom: 10px;
}


aside {
    flex: 1;
    min-width: 250px;
    background-color: rgb(222, 184, 135);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    height: fit-content;
}

aside h3, aside h4 {
    color: #fff;
    margin-bottom: 10px;
}

aside ul {
    list-style-type: square;
    padding-left: 20px;
    margin-bottom: 15px;
}

aside p {
    margin-bottom: 15px;
}


footer {
    background-color: rgb(94, 4, 4);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}
